.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxDate {
  background-color: #3f51b5;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.boxDate * {
  color: #fff !important;
}
