<div class="content">
  <button
    mat-mini-fab
    color="primary"
    aria-label="Previous day"
    (click)="previousDay()"
  >
    <mat-icon title="Previous day" style="transform: rotate(180deg);"
      >play_arrow</mat-icon
    >
  </button>

  <mat-form-field class="boxDate">
    <mat-label>Choose a start date</mat-label>
    <input
      matInput
      [(ngModel)]="currentDate"
      [matDatepicker]="myDatepicker"
      (dateChange)="filterByDate($event)"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="myDatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  <button
    mat-mini-fab
    color="primary"
    aria-label="Next day"
    (click)="nextDay()"
  >
    <mat-icon title="Next day">play_arrow</mat-icon>
  </button>
</div>
