.my-card {
  float: left;
  width: 275px;
  margin: 5px;
  margin-top: 15px;
  height: 500px;
}

.title {
  color: #3f51b5;
}

.start {
  font-size: 10px;
  color: darkred;
}

.loading {
  color: #fff;
  padding: 5px;
  background-color: #ff3366;
  text-align: center;
  transition: all 2s;
}

.header-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
}

@media all and (min-width: 500px) and (max-width: 1000px) {
  .my-card {
    float: left;
    width: 40%;
    margin: 5px;
    height: 500px;
  }
  .description {
    padding: 0;
  }
  .header-image {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .mat-card {
    padding: 5px;
  }
  .my-card {
    float: left;
    width: 95%;
    margin: 5px;
    height: 150px;
  }
  .description {
    padding: 0;
  }
  .header-image {
    display: block;
  }
  .image {
    display: none;
  }
}
