<div *ngIf="isLoading" class="loading">Loading...</div>

<div *ngFor="let item of items">
  <mat-card class="my-card">
    <mat-card-header>
      <div
        mat-card-avatar
        class="header-image"
        [ngStyle]="{
          'background-image': 'url(' + formatImage(item.images) + ')',
          'background-size': 'cover',
          'background-position': 'center'
        }"
      ></div>
      <mat-card-title class="title">{{ item.title }}</mat-card-title>
      <mat-card-subtitle class="start"
        >Start: {{ formatDateToCard(item.start_datetime) }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      class="image"
      mat-card-image
      src="{{ formatImage(item.images) }}"
      alt="{{ item.title }}"
    />
    <mat-card-content class="description">
      {{ item.description_short }}
    </mat-card-content>
  </mat-card>
</div>
